{% extends 'base.html' %} {% block title %} {{user.username}} {% endblock %} {%
block content %}
<div class="card text-center">
	<div class="card-body">
		<h1 class="card-title display-1">{{user.username}}</h1>
		<h4 class="card-subtitle my-3">{{user.first_and_last_name}}</h4>
		<h5 class="card-subtitle mb-3 text-muted">
			<i class="fa-solid fa-envelope"></i> {{user.email}}
		</h5>
		<p class="card-text my-3">
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe
			possimus laboriosam dignissimos magnam sit, ut earum necessitatibus
			harum voluptas fugit commodi sed ipsam vero fuga iusto delectus
			maiores, accusantium assumenda.
		</p>
		<a href="#" class="btn btn-primary">Go somewhere</a>
	</div>
</div>
{% endblock %}
