{% extends 'base.html' %} {% block title %} {{user.username}} {% endblock %} {%
block content %}
<div class="card text-center">
	<div class="card-header">
		<h1 class="card-title display-1">{{user.username}}</h1>
		<h4 class="card-subtitle my-3">{{user.first_and_last_name}}</h4>
		<h5 class="card-subtitle mb-3 text-muted">
			<i class="fa-solid fa-envelope"></i> {{user.email}}
		</h5>
		<form
			action="/users/{{user.username}}/delete"
			method="post"
			class="my-3"
		>
			<button type="submit" class="btn btn-danger">
				Delete Your Account
			</button>
		</form>
		<a href="/users/{{user.username}}/feedback/add" class="btn btn-primary"
			>Add New Feedback!</a
		>
	</div>
	<div class="card-body">
		<ul class="list-group list-group-flush">
			{% if feedback %} {% for f in feedback %}
			<li class="list-group-item">
				<h5 class="card-subtitle">{{f.title}}</h5>
				<p>{{f.content}}</p>
				<div>
					<a href="/feedback/{{f.id}}/update" class="btn btn-info"
						>Edit Feedback</a
					>
					<form
						action="/feedback/{{f.id}}/delete"
						method="post"
						class="d-inline"
					>
						<button type="submit" class="btn btn-danger">
							Delete Feedback
						</button>
					</form>
				</div>
			</li>
			{% endfor %} {% else %}
			<li class="list-group-item">No feedback yet!</li>
			{% endif %}
		</ul>
	</div>
</div>
{% endblock %}
